.pricing1 .top{padding:0;}
.pricing1 .top p{margin:0px 12px;}
.pricing1 .top h3{margin:12px 12px; }

.carousel-control{
    border:transparent;
    background-color:transparent;
    margin-top: -10px;

}
.carousel-control.left, .carousel-control.right
{
    background:transparent;
}
.carousel-control{display:none;}
.carousel:hover .carousel-control{display:block;}

.panel {border:0px;}
.panel-default > .panel-heading{background-color:transparent;}
.panel .editContent ul, .panel .panel-body{padding-bottom:0; margin:0;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{ margin: 0 auto;}
.carousel-inner > .item > img, .carousel-inner > .item > a > img{max-height:128px;}
@media (min-width:990px)
{
    .carousel-inner > .item > img, .carousel-inner > .item > a > img{max-height:128px;}

}	
@media (max-width:768px)
{
    .carousel-inner > .item > img, .carousel-inner > .item > a > img{max-width:95%;}
}
@media (max-width:360px)
{
    .carousel-inner > .item > img, .carousel-inner > .item > a > img{max-width:90%;}
}