/* general styles */
/*<o-----------------o--ADDED BY KUSHAL--o-------------------o>*/

.banner .text-center img{width:100%; }             /*Banner Images*/

.banner .text-center {width:100%; max-height:325px; overflow:hidden;}

.content .text-center .content_col img{width:100px !important; height:100px; }   /*medium Thumbnails*/

/*.img-circle,.portfolio .img-rounded{width:260px !important; height:260px;}*/
.tab-content .tab-pane .col-md-3 img{width:60px!important; height:60px;}

.team_col_medium img{width:197px!important; height:197px;}
.team_col_big img{width:270px!important; height:270px;}
.team .photo img {width: 90px!important; height:90px;}
@media (max-width: 767px)
{
/*.text-center .img-circle{width:40%; max-height:100%;}*/
.portfolio .col-md-3{margin-bottom:20px;}  
/*.portfolio .img-rounded, .team_col_medium img, .team_col_big img{width:60%; max-height:100%;} */ /*medium Team Images*/ /*medium Portfolio Images*/
.margin-bottom-40{margin-bottom:0px;}
.team .narrow .social {text-align: center;}
.margin-bottom-40 {margin-bottom: 40px;}
.team .img-rounded{margin:0 auto;}
}     
/*<o-----------------o--KUSHAL CODE ENDS--o-------------------o>*/

p {
	font-size: 16px;	
}

h1 {
	font-size: 34px;
	line-height: 54px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 26px;
}

h4 {
	font-size: 22px;
}

h5 {
	font-size: 18px;
}

.light {
	font-weight: 400;
}

form .row {
	margin-bottom: 20px;
}

#page {
	
}

.item {
	
}

.item.header {
	padding-bottom: 50px;
}

.item.content, .item.portfolio, .item.team, .item.pricing, .item.contact {
	padding-top: 60px;
	padding-bottom: 60px;
}

.item.footer {
}

.margin-top-100 {
	margin-top: 100px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}

.margin-top-80 {
	margin-top: 80px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-bottom-20 {
	margin-bottom: 20px !important;
}

.margin-bottom-40 {
	margin-bottom: 40px !important;
}

.margin-bottom-60 {
	margin-bottom: 60px !important;
}

.margin-bottom-80 {
	margin-bottom: 80px !important;
}

.padding-top-0 {
	padding-top: 0px !important;
}

.padding-top-20 {
	padding-top: 20px !important;
}

.padding-top-100 {
	padding-top: 180px !important;
}

.padding-bottom-60 {
	padding-bottom: 60px !important;
}

.padding-bottom-0 {
	padding-bottom: 0px !important;
}

.margin-top-0 {
	margin-top: 0px !important;
}

.width-100 {
	width: 100%;
}

header .navbar.plain li.active a {
	color: #1ABC9C;
}

header .navbar-white {
	background: #fff;
}

header .navbar-white a {
	color: #3D566E;
}


/* videos */

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper > iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.videoWrapper > .frameCover {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	background: none;
}